:root {
    /* --main-color: #C07DF0;
    --secondary-color: #D7A9F8; */
    --light: #d85517; /* art-modal */
    --dark: #ac4a1b; /* nav titles and border */
  
}

.header {
    background-color: var(--dark);
}

.header ul {
    background-color: var(--dark);
}
/***********************************************************
 -  Titres
***********************************************************/

h1,
h2,
h3,
h4,
h5 {
    color: var(--dark);
} 


.summarySection >H3{
    color:#FFF;
}
    
.summarySection >p{
    color:#FFF;
}
    
.menu > li:hover a, .menu > li:hover{
    background-color: var(--light);
}





.modal-inner {
    background-color: #FFF;
}
.border-art {
    border-radius: 20px 0px 20px 0px;
    border-bottom: #000 solid 5px;
    box-shadow: 5px 2px 8px #000;
}
