.backBox {
    display: none;
}

.frontBox {
    display: block;
}

.buttonLeft {
    transform: rotateY(180deg);
}

#btnGen {
    background-size: cover;
    width: 30px;
    height: 30px;
}

.barreDefil {
    display: flex;
    justify-content: space-around;
}

.link1{
    background-image: url("../images/Kenya/kenya2.jpeg");
    box-shadow:  5px 2px 8px #f5b771;
}
.link2{
    background-image: url("../images/sources/LasColoradas_Lagon.jpg");
    box-shadow:  5px 2px 8px #f5b771;
}
.link3{
    background-image: url("../images/fidji/Mamanuca2.jpg");
    box-shadow:  5px 2px 8px #f5b771;
}
.link4{
    background-image: url();
    box-shadow:  5px 2px 8px #f5b771;
}