body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}

input,
select,
textarea {
  margin: 0 3rem;
  border-radius: 0.5em;
  padding: 1.5%;
  padding-left: 0.5em;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.781); */
  width: 77%;
  box-shadow: 5px 2px 8px black;
}
select {
  width: 81%;
}
label {
  color: black;
  padding: 0.4em 0;
}
.container-form {
  background-color: #f3f3f3;
  /* max-width: 320px; */
  padding: 0.5em 0;
}

.title-form {
  text-align: center;
  margin: 0.3rem 0;
  /* text-decoration: underline; */
  color: #4f6367;
  font-size: 42px;
}
.soulignage {
  width: 90%;
  height: 3px;
  background-color: #d2d2d2;
  border-radius: 5px;
  margin-left: 5%;
}

.btn-form {
  margin-top: 7px;
  margin-right: 10.5%;
  width: 33%;
  align-self: flex-end;
  color: black;
  box-shadow: 5px 2px 8px black;
  font-family: 'Cabin Sketch', cursive;
  font-size: 20px;
  text-shadow: 1px 1px 1px #d3d3d3;
  border-radius: 20px 0 20px 0px;
}
.btn-form:hover {
  background-color: #c5c5c54d;
  opacity: 0.8;
  cursor: pointer;
}
/* Barre de navigation */
@media screen and (min-width: 720px) {
  body {
    width: 100%;
  }
  /* .btn-form {
    width: 25%;
    margin-right: 10.5%;
    margin-top: 2em;
  }
  .navbar ul {
    top: 10px;
    height: 10vh;
  } */
  select {
    width: 79%;
  }
  .title-form {
    font-size: 54px;
  }
  label {
    /* background-color: white; */
    width: 79%;
    text-align: center;
    font-size: 22px;
  }
}

/* Gestion des erreurs */
.error-text {
  color: red;
}

.error-msg {
  display: none;
}

.border-error{
  border: 2px dashed red;
  color:red;
}

#errorFirstName,
#errorLastName,
#errorPhone,
#errorMail {
  display: none;
  color: red;
}
