:root {
    /* --main-color: #C07DF0;
    --secondary-color: #D7A9F8; */
    --light: #F2E1FE; /* art-modal */
    --dark: #9036D0; /* nav titles and border */
  
}

.header {
    background-color: var(--dark);
}

.header ul {
    background-color: var(--dark);
}
/***********************************************************
 -  Titres
***********************************************************/

h1,
h2,
h3,
h4,
h5 {
    color: var(--dark);
} 

/***********************************************************
 - image
***********************************************************/
.fullImgInDiv {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/***********************************************************
 - modal
***********************************************************/

  .modal-inner {
    background-color: var(--light); /* To be defined according to the country */
  }

/***********************************************************
 - main
***********************************************************/

.mainContainer {
    width: 100%;
    margin: auto;
    text-align: justify;
    display: block;
    align-items: center;
}

/***********************************************************
 - fullWidthImg and summarySection
***********************************************************/
.mosaicImg .fullImgInDiv .open-modal {
    max-height: 300px;
    max-width: 500px;
}

.firstSection {
    display: flex;
    flex-direction: column;
}

.summarySection {
    background-color: var(--light); /* To be defined according to the country */
    box-sizing: border-box;
    height:auto; 
    max-height: 200px;
    padding : 10px;
    display: block;
    z-index:2;
    opacity: 0.7;
    overflow: hidden;
    margin: 1em;
}

/***********************************************************
 - Section history and culture
***********************************************************/
.secondSection {
    display: flex;
    flex-direction: column;
}

/* article.history */
.history {
    margin: 1em;
    display: block;
    padding: 1em;
}

/* div.col2>p>img.mapFidji_224x225 */
.mapFidji_224x225 {
    width: 225px;
    max-width: 100%;
    min-width: 24%;
    height: auto;
}

.hide {
    display: none;
}

/***********************************************************
 - Section tourism and monuments
***********************************************************/

/********** Create slider **********/
.slider {
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    height: auto;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
.slides {
    width: calc(500px * 6);
    animation: sliderImg 10s infinite;
}

.slide {
    float: left;
}

@keyframes sliderImg {
    0% {transform: translateX(0);}
    5% {transform: translateX(0);}
    10% {transform: translateX(0);}
    17% {transform: translateX(-500px);}
    20% {transform: translateX(-500px);}
    25% {transform: translateX(-500px);}
    33% {transform: translateX(-1000px);}
    40% {transform: translateX(-1000px);}
    45% {transform: translateX(-1000px);}
    50% {transform: translateX(-1500px);}
    55% {transform: translateX(-1500px);}
    60% {transform: translateX(-1500px);}
    67% {transform: translateX(-2000px);}
    75% {transform: translateX(-2000px);}
    80% {transform: translateX(-2000px);}
    83% {transform: translateX(-2500px);}
    90% {transform: translateX(-2500px);}
    95% {transform: translateX(-2500px);}
    100% {transform: translateX(0px);}
    
}

.artWithP {
    padding: 1em;
    margin: 1em;
}

.dish {
    max-width: 300px;
    float: left;
    margin: 0 1em;
}
/***********************************************************
        Photo mosaic
***********************************************************/

.photo-mosaic {
    margin: 1em;
    padding: 1em;
}

/***********************************************************
 -  Media Query (bootstrap size)
***********************************************************/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width:767px){

}



/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width:768px) and (max-width:992px) {

    .mainContainer {
        width: 80%;
    }   

    .hide {
        display: block;
        float: right;
        margin: 0 2em;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

    .mainContainer {
        width: 60%;
    }

    .hide {
        display: block;
        float: right;
        margin: 0 2em;
    }

    .mosaic {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
        width: 100%;
        height: auto;
        animation: none;
    }

    .slide {float: none; border: 1px solid red;}

    .slider {
        width: 100%;
        max-height: 100%;
    }

    .mosaicImg {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .slider > div > div:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    
    .slider > div > div:nth-child(3) {
        grid-column: 3 / 6;
        grid-row: 1 / 4;
    }
    
    .slider > div > div:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }
    
    .slider > div > div:nth-child(7) {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    
    .slider > div > div:nth-child(9) {
        grid-column: 1 / 4;
        grid-row: 5 / 7;
    }
    
    .slider > div > div:nth-child(11) {
        grid-column: 4 / 6;
        grid-row: 4 / 7;
    }

    /* .mosaicImg {width: 50px; height: 30px;} */
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px){

    .mainContainer {
        width: 50%;
    }

    .summarySection {
        width:25em;
        position: absolute;
        top: 5em; 
        right: 10em;
        max-height: 300px;
    }

    .hide {
        display: block;
        float: right;
        margin: 0 2em;
    }
}