/***********************************************************
 - Body
***********************************************************/
body {
    font-family: 'Poppins', sans-serif;
    color:#333333; /* To define */
    background-color:white; /* To define */
}

/***********************************************************
 - image
***********************************************************/


/***********************************************************
 - main
***********************************************************/

.mainContainer {
    width: 100%;
    margin: auto;
    text-align: justify;
    display: block;
    align-items: center;

}

.fullWidthImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

#mapFidji_224x225 {
    width: 225px;
    min-width: 24%;
    height: auto;
}

/* horizontal centering of block type elements */
.center {
    margin-left: auto;
    margin-right: auto;
    width: 1em; /* largeur obligatoire pour être centré */
}
.addBoxShadow {
    box-shadow: 5px 2px 8px #166f6f;
}

.addBorderRadius {
    border-radius: 20px 0px 20px 0px;
}

.summarySection {
    background-color: #71BBD9; /* To be defined according to the country */
    box-sizing: border-box;
    max-height: 200px;
    padding : 10px;
    display: block;
    height:200px; 
    z-index:2;
    opacity: 0.7;
    border-bottom: #3D735A solid 5px;
    overflow: hidden;
    margin-bottom: 25px;
}

.col2 {
    position: relative;
    left: 25%;
    width: 50%;
    column-count: 2;
    text-align: justify;
    column-gap: 30px;
}

.float {
    float: center;
}

p {
    font-size: 12px;
}

article {
    display: flex;
    flex-direction: column;
}

/***********************************************************
 - Photo mosaic
***********************************************************/

.photo-mosaic {
    position: relative;
    left: 25%;
    width: 50%;
}

.mosaic {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.mosaic > div {
    border: 1px solid red;
}

.mosaic > div > img:hover {
    width: 500px;
    height: auto;
}
.mosaic > div:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.mosaic > div:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
}

.mosaic > div:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.mosaic > div:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.mosaic > div:nth-child(5) {
    grid-column: 1 / 4;
    grid-row: 5 / 7;
}

.mosaic > div:nth-child(6) {
    grid-column: 4 / 6;
    grid-row: 4 / 7;
}

/***********************************************************
 -  Media Query (bootstrap size)
***********************************************************/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width:767px){
    .firstSection {
        display: flex;
        flex-direction: column;
    }
    
    .firstSection > div {
        position: relative;
    }

    .summarySection {
        left: 0%;
        width: 95%;
        margin: 5px;
        height: auto;
        
    }

    .float {
        visibility: hidden;
        display: none;
    }
}



/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width:768px) and (max-width:992px) {
    .firstSection {
        display: flex;
        flex-direction: column;
    }
    
    .firstSection > div {
        position: relative;
    }

    .summarySection {
        left: 25%;
        width: 50%;
        height: auto;

    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) and (max-width:1200px){
    .firstSection {
        display: flex;
        flex-direction: column;
    }
    
    .firstSection > div {
        position: relative;
    }

    .summarySection {
        left: 25%;
        width: 50%;
        height: auto;
        position: absolute;
        top: 30%; 
    }

    p {
        font-size: 16px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px){
    p {
        font-size: 16px;
    }
    .summarySection {
        width: 20%;
        position: absolute;
        top: 3em; 
        left: 60%;
    }
} 
/*

 Couleurs : 
#0B9ED9 bleu foncé
#71BBD9 bleu moyen
#BDEDF2 bleu clair
#3D735A vert foncé
#6FA66D vert clair  */