.img-container {
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    z-index: 1;
}

p {
    font-size: 12px;
}
.contSummaryFirstSection {
    background-color: #71BBD9;
    width: 20%;
    max-height: 200px;
    padding : 10px;
    display: block;
    position: absolute;
    top: 10%; 
    left: 60%;
    height:200px; 
    z-index:2;
    opacity: 0.7;
    border-bottom: #3D735A solid 5px;
    overflow: hidden;
    border-radius: 20px 0px 20px 0px;
    margin-bottom: 25px;
    box-shadow: 5px 2px 8px #166f6f;
}

article {
    display: flex;
    flex-direction: column;
}
.col2 {
    position: relative;
    left: 25%;
    width: 50%;
    column-count: 2;
    text-align: justify;
    column-gap: 30px;
}

.float {
    float: right;
}

.photo-mosaic {
    position: relative;
    left: 25%;
    width: 50%;
}

.mosaic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mosaic > div {
    border: 1px solid red;
    width: 9%;
    height: 10%;
    margin-bottom: 1%;
}

.mosaic > div:nth-child(1) {
    width: 39%;
    height: 19%;
}

.mosaic > div:nth-child(2) {
    width: 59%;
    height: 29%;
}

/***********************************************************
 -  Media Query (bootstrap size)
***********************************************************/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width:767px){
    .firstSection {
        display: flex;
        flex-direction: column;
    }
    
    .firstSection > div {
        position: relative;
    }

    .contSummaryFirstSection {
        left: 0%;
        width: 95%;
        margin: 5px;
        height: auto;
    }
}



/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width:768px) and (max-width:992px) {
    .firstSection {
        display: flex;
        flex-direction: column;
    }
    
    .firstSection > div {
        position: relative;
    }

    .contSummaryFirstSection {
        left: 25%;
        width: 50%;
        height: auto;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) and (max-width:1200px){
    .firstSection {
        display: flex;
        flex-direction: column;
    }
    
    .firstSection > div {
        position: relative;
    }

    .contSummaryFirstSection {
        left: 25%;
        width: 50%;
        height: auto;
    }

    p {
        font-size: 16px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px){
    p {
        font-size: 16px;
    }
} 
 
/* Couleurs : 
#0B9ED9 bleu foncé
#71BBD9 bleu moyen
#BDEDF2 bleu clair
#3D735A vert foncé
#6FA66D vert clair */