/*
$$\      $$\ $$\ $$\       $$\       $$$$$$$$\        $$\           
$$ | $\  $$ |\__|$$ |      $$ |      \__$$  __|       \__|          
$$ |$$$\ $$ |$$\ $$ | $$$$$$$ |         $$ | $$$$$$\  $$\  $$$$$$\  
$$ $$ $$\$$ |$$ |$$ |$$  __$$ |         $$ |$$  __$$\ $$ |$$  __$$\ 
$$$$  _$$$$ |$$ |$$ |$$ /  $$ |         $$ |$$ |  \__|$$ |$$ /  $$ |
$$$  / \$$$ |$$ |$$ |$$ |  $$ |         $$ |$$ |      $$ |$$ |  $$ |
$$  /   \$$ |$$ |$$ |\$$$$$$$ |         $$ |$$ |      $$ |$$$$$$$  |
\__/     \__|\__|\__| \_______|         \__|\__|      \__|$$  ____/ 
                                                          $$ |      
                                                          $$ |      
                                                          \__|      
*/


/* Pour utliser la police Poppins (textes) */
/* font-family: 'Poppins', sans-serif; */

/* Pour utiliser la police Cabin (titres) */
/* font-family: 'Cabin Sketch', cursive; */


body {
    font-family: 'Poppins', sans-serif;
    color:#333333; /* a definir */
    background-color:#efefef;
}


/***********************************************************
 -  Titres
***********************************************************/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Cabin Sketch', cursive;
    color: 000000; /* a definir */
    padding:0px; /* a definir */
    margin:0px; /* a definir */
} 


h1 {
    font-size: 32px; /* a definir */
}

h2 {
    font-size: 28px; /* a definir */
}

h3 {
    font-size: 26px; /* a definir */
}

h4 {
    font-size: 24px; /* a definir */
}

h5 {
    font-size: 20px; /* a definir */
}

p {
    font-size: 14px; /* a definir */
}

/***********************************************************
 -  Media
***********************************************************/
.img-responsive{
    max-width: 100%;
}

/***********************************************************
 -  Actions
***********************************************************/
a {
    /* Bouton*/
    color:#d55959; /* a definir */
    text-decoration: none; /* a definir */
}

a:hover {
    color:red; /* a definir */
}

/* Bouton*/
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-default{
    color:#FFF;
    background-color: #333333;
}

.btn-default:hover{
    background-color: #828282;
    color:#FFF;
}


/***********************************************************
 -  Blocks
***********************************************************/

.carousel {
    height: 50%;
    margin: 5rem;
    border-radius: 20px 20px 20px 20px;
}

.articleCarousel {
    display: flex;
    justify-items: center;
}

.articleCarousel a{
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* background-color: #d55959; */
    background: url("../images/kenya/kenya1.jpg") no-repeat;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1em;
    margin: 1em;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 2px 8px #A8763D;
    background-position: center;
}

.textArticleCarousel h2 {
    color: black;
    text-align: center;
}

.textArticleCarousel p {
    color: black;
    text-align: center;
}

.textArticleCarousel {
    display: flex;
    background: #ffcb8f;
    box-shadow: 5px 2px 8px black;
    border-radius: 8px 8px 8px 8px;
    flex-direction: column;
    opacity: 90%;
}

.articleCarousel a img {
    height: 300px;
    opacity: 0%;
}

.block-element {
    display: inline-block;
}
footer {
    background-color: #444;
    color: #eee;
    margin: 0;
    max-height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.socialLinks {
    display: flex;
    width: 33%;
    flex-wrap: wrap;
}

.socialLinks a {
    flex-basis: 70%;
}

.socialLinks a img {
    width: 2rem;
    height: 2rem;
    justify-self: center;
}

div.map {
    display: flex;
    justify-content: center;
}










/***********************************************************
 -  Media Query (bootstrap size)
***********************************************************/

/* Small devices (landscape phones, 576px and up) */
@media(max-width:767px){

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media(min-width:768px){

    .articleCarousel a {
        max-width: 70%;
    }

}

/* Large devices (desktops, 992px and up) */
@media(min-width:992px){
    
    .articleCarousel a {
        max-width: 70%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
    .articleCarousel a {
        max-width: 70%;
    }
}