/*
$$\      $$\ $$\ $$\       $$\       $$$$$$$$\        $$\           
$$ | $\  $$ |\__|$$ |      $$ |      \__$$  __|       \__|          
$$ |$$$\ $$ |$$\ $$ | $$$$$$$ |         $$ | $$$$$$\  $$\  $$$$$$\  
$$ $$ $$\$$ |$$ |$$ |$$  __$$ |         $$ |$$  __$$\ $$ |$$  __$$\ 
$$$$  _$$$$ |$$ |$$ |$$ /  $$ |         $$ |$$ |  \__|$$ |$$ /  $$ |
$$$  / \$$$ |$$ |$$ |$$ |  $$ |         $$ |$$ |      $$ |$$ |  $$ |
$$  /   \$$ |$$ |$$ |\$$$$$$$ |         $$ |$$ |      $$ |$$$$$$$  |
\__/     \__|\__|\__| \_______|         \__|\__|      \__|$$  ____/ 
                                                          $$ |      
                                                          $$ |      
                                                          \__|      
*/


/* Pour utliser la police Poppins (textes) */
/* font-family: 'Poppins', sans-serif; */

/* Pour utiliser la police Cabin (titres) */
/* font-family: 'Cabin Sketch', cursive; */


body {
    font-family: 'Poppins', sans-serif;
    color:#333333; /* a definir */
    background-color:#efefef;
}


/***********************************************************
 -  Titres
***********************************************************/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Cabin Sketch', cursive;
    color: 000000; /* a definir */
    padding:0px; /* a definir */
    margin:0px; /* a definir */
} 


h1 {
    font-size: 32px; /* a definir */
}

h2 {
    font-size: 28px; /* a definir */
}

h3 {
    font-size: 26px; /* a definir */
}

h4 {
    font-size: 24px; /* a definir */
}

h5 {
    font-size: 20px; /* a definir */
}

p {
    font-size: 14px; /* a definir */
}


/***********************************************************
 -  Media
***********************************************************/
.img-responsive{
    max-width: 100%;
}

/***********************************************************
 -  Actions
***********************************************************/
a {
    text-decoration: none; /* a definir */
}



/***********************************************************
 -  Blocks
***********************************************************/

/* body {
    background-image: url("../images/sources/testBG2.png");
} */

body {
    position: relative;
    min-height: 100%;
}

.carousel {
    height: 50%;
    margin: 2rem;
    border-radius: 20px 20px 20px 20px;
}

.articleCarousel {
    display: flex;
    justify-content: center;
}

.placeholderCarousel {
    height: 10rem;
}

.articleCarousel a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/kenya/kenya1.jpg") no-repeat;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1em;
    margin: 0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 2px 8px #A8763D;
    background-position: center;
}

.textArticleCarousel h2 {
    color: black;
    text-align: center;
}

.textArticleCarousel p {
    color: black;
    text-align: center;
}

.textArticleCarousel {
    display: flex;
    background: #ffcb8f;
    box-shadow: 5px 2px 8px black;
    border-radius: 8px 8px 8px 8px;
    flex-direction: column;
    opacity: 90%;
}



.block-element {
    display: inline-block;
}
footer {
    background-color: #444;
    color: #eee;
    margin: 0;
    max-height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
    bottom: 0;
    width: 100%;

}

.socialLinks {
    display: flex;
    width: 5rem;
    flex-wrap: wrap;
    
}

.socialLinks a {
    width: 2rem;
    height: 2rem;
    margin: 2px;
}

.socialLinks a img {
    justify-self: center;
    width: 2rem;
    height: 2rem;
}


div.map {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

div.map img {
    max-width: 100%;
    height: auto;
}

.plan li {
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
    list-style: none;
}

.plan li p{
    color: #eee;
}







/***********************************************************
 -  Media Query (bootstrap size)
***********************************************************/

/* Small devices (landscape phones, 576px and up) */
@media(max-width:767px){

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media(min-width:768px){

    .articleCarousel a {
        max-width: 90%;
    }

    .placeholderCarousel {
        height: 15rem;

}

/* Large devices (desktops, 992px and up) */
@media(min-width:992px){
    
    .placeholderCarousel {
        height: 20rem;
    }

    .articleCarousel a {
        max-width: 90%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
   
    .placeholderCarousel {
        height: 25rem;
    }

    .articleCarousel a {
        max-width: 90%;
    }
}